dotconfig/nvim
dotconfig/emacs
**/History/*
**/node_modules/*
**/Default/*
**/logs
**/workspaceStorage
**/Service Worker
**/*Cache*
dotconfig/libreoffice
dotconfig/chromium
**/arduino-ide
**/IndexedDB
**/Crashpad
**/*.log
**/.git
**/gh
